<h3>Notes</h3>
<ul>
    {%- for note in collections.notes -%}
        <li><a href="{{ note.url }}">{{ note.data.title }}</a></li>
    {%- endfor -%}
</ul>

<h3>Patterns</h3>
<ul>
    {%- for pattern in collections.patterns -%}
        <li><a href="{{ pattern.url }}">{{ pattern.data.title }}</a></li>
    {%- endfor -%}
</ul>

<h3>Snippets</h3>
<ul>
    {%- for snip in collections.snippets -%}
        <li><a href="{{ snip.url }}">{{ snip.data.title }}</a></li>
    {%- endfor -%}
</ul>