<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="generator" content="{{ eleventy.generator }}">
    <title>{{ site.title }}</title>
    <style>
        *, *:before, *:after {
            box-sizing: border-box;
        }

        html, body { margin: 0; padding: 0; }

        body {
            display: flex;
            padding: 4px;
            font-family: system-ui;
            flex-direction: column;
            gap: 4px;
            height: 100vh;
            width: 100vw;
        }

        header, footer {
            width: 100%;
            border: 1px black solid;
            padding: 8px;
        }

        main {
            flex-grow: 1;
            display: flex;
            flex-direction: row;
            overflow: hidden;
            height: 100%;
            gap: 4px;
        }

        nav {
            flex: 0 0 300px;
            overflow-y: scroll;
            border: 1px black solid;
        }

        .container {
            height: 100%;
            overflow-y: scroll;
            flex: 1 1 calc(100% - 300px);
            border: 1px black solid;
            padding: 8px;
        }
    </style>
</head>
<body>
    <header>
        <a href="/">{{ site.title }}</a>&nbsp;{{ page.url }}
    </header>
    <main>
        {% include "nav.liquid" %}
        <div class="container">
            {{ content }}
        </div>
    </main>
    <footer>
        Last built at: <time>{{ site.latestBuild }}</time>
    </footer>
</body>
</html>