<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="generator" content="{{ eleventy.generator }}">
    <title>{{ site.title }}</title>
    <style>
        body {
            display: flex;
            flex-direction: column;
            min-height: 100vh;
        }

        main {
            flex-grow: 1;
        }
    </style>
</head>
<body>
    <header class="site__header">
        <h1 class="site__title">
            <a href="/">{{ site.title }}</a>
        </h1>
        <p class="site__tagline">{{ site.description }}</p>
    </header>
    <main>
        {{ content }}
    </main>
    <footer>
        <p>Last built at: <time>{{ site.latestBuild }}</time></p>
    </footer>
</body>
</html>