<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="generator" content="{{ eleventy.generator }}">
    <title>{{ site.title }}</title>
    <link rel="stylesheet" href="/assets/style.css" />
</head>

<body>
    <nav>
        <div class="nav__header">
            <a href="/">code.twelvefourseven.net</a>
        </div>
        <div class="nav__container">
            <ul>
                {%- for note in collections.notes -%}
                <li><a href="{{ note.url }}">{{ note.url }}</a></li>
                {%- endfor -%}
            </ul>
        </div>
        <div class="nav__footer">
            Nav footer
        </div>
    </nav>
    <main>
        {{ content }}
    </main>
</body>

</html>