<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="generator" content="{{ eleventy.generator }}">
    <title>{{ site.title }}</title>
    <link rel="stylesheet" href="/assets/style.css" />
</head>

<body>
    <nav>
        <div class="nav__header">
            <a href="/">code.twelvefourseven.net</a>
        </div>
        <div class="nav__container">
            <details open>
                <summary><a class="folder" href="/notes">/notes</a></summary>
                <ul>
                {%- for item in collections.notes -%}
                    <li><a class="file" href="{{ item.url }}">/{{ item.fileSlug }}</a></li>
                {%- endfor -%}
                </ul>
            </details>
                {% comment %} {%- for item in collections.all -%}
                <li><a href="{{ item.url }}">{{ item.url }}</a></li>
                {%- endfor -%} {% endcomment %}
        </div>
        <div class="nav__footer">
            Nav footer
        </div>
    </nav>
    <main>
        {{ content }}
    </main>
</body>

</html>